  
            /*Reset CSS*/
            html, body, div, span, applet, object, iframe,
            h1, h2, h3, h4, h5, h6, p, blockquote, pre,
            a, abbr, acronym, address, big, cite, code,
            del, dfn, em, img, ins, kbd, q, s, samp,
            small, strike, strong, sub, sup, tt, var,
            b, u, i, center,
            dl, dt, dd, ol, ul, li,
            fieldset, form, label, legend,
            table, caption, tbody, tfoot, thead, tr, th, td,
            article, aside, canvas, details, embed, 
            figure, figcaption, footer, header, hgroup, 
            menu, nav, output, ruby, section, summary,
            time, mark, audio, video {
              margin: 0;
              padding: 0;
              border: 0;
              font-size: 100%;
              font: inherit;
              vertical-align: baseline;
            }
            /* HTML5 display-role reset for older browsers */
            article, aside, details, figcaption, figure, 
            footer, header, hgroup, menu, nav, section {
              display: block;
            }
            body {
              line-height: 1;
            }
            ol, ul {
              list-style: none;
            }
            blockquote, q {
              quotes: none;
            }
            blockquote:before, blockquote:after,
            q:before, q:after {
              content: '';
              content: none;
            }
            table {
              border-collapse: collapse;
              border-spacing: 0;
            }
            
            /*Main**/
            
            .wrapper {
                max-width: 1440px;
                width: 100%;
                max-width: 100%; 
                
            }
            
            .center{
              max-width: 1300px;
              width: 100%;
              margin: 0 auto;}

              $black-text: #1D2733;
              @mixin onlylarge($w)
              {
                @media only screen and (max-width: $w)
                {
                  @content;  
                }
              }
            
            .container-first{
                background-color: #00011D;
                border-radius: 0 0 100px 100px;
              }
              .container-first{
                background-image: url(../images/planet-bg.png);
                background-repeat: no-repeat;
                background-position-x: right;
                background-size: contain;
            
                .logo{
                  img{
                    width: 128px;
                    height: 71px;
                  }
                }
                header{
                  height: 92px;
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  .menu{
                    @media only screen and (max-width: 1024px){
                      display: none;
                    }
                    ul{
                      display: flex;
                      li{
                        a{
                font-family: "Evolventa";
                color: #FFF;
                font-size: 16px;
                text-decoration: none;
                font-weight: bold;
                transition: 1s;
                
                        }
                        a:hover{
                          color: #5282FF;
                          text-decoration: underline;
                      }
                      }
                    }
                  }
                }
              }
            
            .container-first header .menu ul li {
                margin-right: 48px;
            }
            
            .container-first header .menu ul li.contact-btn {
                margin-left: 183px;
                margin-right: 0;
            }
            
            .container-first header .menu ul li.contact-btn a {
                color: #FFF;
                padding: 16px 48px;
                border-radius: 41px;
                border: 2px solid rgba(244, 246, 252, 0.20);
                transition: 1s;
            }
            
            .container-first header .menu ul li.contact-btn a:hover {
                background-color: #BBBBCB;
                color: #1C1E53;
                text-decoration: none;
            }
          
            
            .container-first .head-content {
                padding-top: 100px;
                padding-bottom: 128px;
                display: flex;
                justify-content: space-around ;
                align-items: center;
              
            }
            
            .container-first .head-content .right-content{
            margin-right: 168px;
            @media only screen and (max-width: 1024px){
              display: none;
            }
            }
            .container-first .head-content .right-content .planet .logo {
              position: absolute;
              left: 60%;
              bottom: 40%;
            }
            .container-first .head-content .left-content{
              width: 710px;
              padding-left: 132px;
              position: relative;
              
                h1{
                  color: #FFF;
                  font-family: "Evolventa";
                  font-size: 60px;
                  font-weight: bold;
                  margin-bottom: 20px;
                  line-height: normal;
                  @media only screen and (max-width: 1024px){
                    font-size: 24px;
                  }
                  @media only screen and (max-width: 525px){width: 90%;}
                }
                  span{
                    color: rgba(255, 255, 255, 0.60);
                  }
                p{
                color: #FFF;
                font-family: "Evolventa";
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 40px;
                @media only screen and (max-width: 525px){width: 90%;}
                }
                .btn-wrap{
                font-family: "Evolventa";
                :hover{
                  background-color: #BBBBCB;
                  color: #5282FF;
                }
              a{
                background: #5282FF;
                transition: 0.8s;
                border-radius: 12px;
                text-decoration: none;
                font-size: 16px;
                font-weight: bold;
                color: #FFF;
                line-height: 175%; 
                padding: 12px 32px;
              }  
              }
            }
            .second-container{
              margin-top: 132px;
              @media only screen and (max-width: 1024px){
                margin: 0 auto;
              }
              .second-content{
                background-image: url(../images/system.png);
                background-repeat: no-repeat;
                background-position-x: right;
                .border-item{
                  font-family: "Evolventa";
                  p{
                    font-size: 16px;
                    font-weight: bold;
                    border: 1px solid #6B24A9;
                    color: #1D2733;
                    width: 275px;
                    padding: 8px 12px;
                    border-radius: 8px;
                    margin-bottom: 20px;
                    @media only screen and (max-width: 1024px){
                      margin-top: 40px;
                      margin-left: 40px;
                    }
                  }
                }
                .content{
                  font-family: "Evolventa";
                  @media only screen and (max-width: 1024px){
                    margin-left: 40px;
                    font-size: 25px;}
                  h3{
                    color: $black-text;
                    font-size: 52px;
                    font-weight: bold;
                    width: 760px;
                    margin-bottom: 4px;
                    @media only screen and (max-width: 1024px){
                      width: auto;
                    }
                  }
                  h4{
                    color: #C6CFDC;
                    font-size: 52px;
                    font-weight: bold;
                    margin-bottom: 108px;
                    }
                }
                .content-right{
                  width: 477px;
                    @media only screen and (max-width: 1024px){
                      margin-left: 40px;
                      font-size: 25px;
                      width: auto;
                    }
                  
                  P{
                    color: $black-text;
                    font-family: "Evolventa";
                    font-size: 16px;
                    margin-bottom: 108px;
                  }
                  }
              }
              }
            .third-container{
              display: flex;
              justify-content: space-between;
              .left-content{
                display: grid;
                grid-template-columns: 282px 229px;
                column-gap: 32px;
                row-gap: 165px;
                border: 1px solid #EFF1F4;
                background-color: #EFF1F4;
                width: 607px;
                border-radius: 20px;
                @media only screen and (max-width: 1024px){
                  column-gap: 32px;
                  row-gap: 17px;
                  grid-template-columns: 1fr;}
                  @media only screen and (max-width: 525px){justify-items: center;}
                .first-item{
                  grid-row: 1 / span 2;
                  @media only screen and (max-width: 1024px){grid-row: auto; justify-items: center;}
                }
                p{
                color: #1D2733;
                font-family: "Evolventa";
                font-size: 16px;
                line-height: 150%;
                margin-top: 24px;
                @media only screen and (max-width: 1024px){margin-left: 20px;}
                }
                .third-item{
                  margin-bottom: 24px;
                a{
                  text-decoration: none;
                  padding: 12px 32px;
                  border-radius: 12px;
                  border: 1.5px solid #5282FF;
                  margin-bottom: 24px;
                  color: #5282FF;
                  font-family: "Evolventa";
                  font-size: 16px;
                  font-weight: bold;
                  line-height: 175%;
                  transition: 1s;
                  @media only screen and (max-width: 1024px){font-size: 20px;}
                }
                a:hover{
                background-color: #BBBBCB;
                color: #1C1E53;
                text-decoration: none;
              }  
              }
              }
              .right-content{
                font-family: "Evolventa";
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                @media only screen and (max-width: 1024px){
                  display: none;}
                a{
                  padding: 8px 12px;
                  border: 1px solid #6B24A9;
                  border-radius: 8px;
                  text-decoration: none;
                  font-size: 16px;
                  font-weight: bold;
                  color: $black-text;
                  width: 146px;
                }
                .mon{
                  display: flex;
                  img{
                    margin-right: 12px;
                  }
                  h5{
                    font-size: 28px;
                    line-height: 85%;
                    color: $black-text;
                    font-weight: bold;
                  }
                }
                P{
                  font-size: 28px;
                  color: #C6CFDC;
                  font-weight: bold;
                  font-size: 28px;
                  line-height: 85%;
                }
              }
            }
            .fourt-container{
              margin-top: 120px;
              font-family: "Evolventa";
              @media only screen and (max-width: 1024px){margin-top: 50px; margin-left: 40px;}
              h6{
                border: 1px solid #6B24A9;
                border-radius: 8px;
                margin-bottom: 20px;
                width: 135px;
                padding: 8px 12px;
                color: $black-text;
                font-size: 16px;
                font-weight: bold;
                
              }
              h1{
                color: $black-text;
                font-size: 52px;
                font-weight: bold;
                margin-top: 4px;
                @media only screen and (max-width: 1024px){font-size: 25px;}
              }
              h2{
                color:#C6CFDC;
                font-size: 52px;
                font-weight: bold;
                margin-bottom: 120px;
                @media only screen and (max-width: 1024px){font-size: 25px; margin-bottom: 50px;}
              }
              .content{
                display: grid;
                grid-template-columns: 524px 524px;
                column-gap: 128px;
                font-family: "Evolventa";
                @media only screen and (max-width: 1024px){
                  grid-template-columns: 1fr;
                  row-gap: 40px;
                  width: 90%;}
                  @media only screen and (max-width: 525px){width: 85%;}
                .left-content{
                  background: linear-gradient(to top left, #1840A0, #A368FF, #739AFF, #96D9FF);
                  border-radius: 20px;
                  padding: 48px 204px 48px 60px;
                  @media only screen and (max-width: 525px){padding: 25px 60px 40px 40px;}
                  
                  h5{
                    
                    font-size: 52px;
                    color: #FFF;
                    font-weight: bold;
                    @media only screen and (max-width: 525px){font-size: 30px;}
                  }
                  p{
                    margin-top: 4px;
                    color: #FFF;
                    font-size: 16px;
                    
                  }
                }
                .right-content{
                  background: linear-gradient(to top left, #1840A0, #A368FF, #739AFF, #96D9FF);
                  border-radius: 20px;
                  padding: 48px 204px 48px 60px;
                  @media only screen and (max-width: 525px){padding: 25px 60px 40px 40px;}
                  h5{
                    
                    font-size: 52px;
                    color: #FFF;
                    font-weight: bold;
                    @media only screen and (max-width: 525px){font-size: 30px;}
                  }
                  p{
                    margin-top: 4px;
                    color: #FFF;
                    font-size: 16px;
                    
                  }
                }
              }
            }
            .five-container{
              margin-top: 120px;
              border-radius: 118px 118px 0 0;
              background: linear-gradient(246deg, #030712 15.24%, #232178 83.9%);
              @media only screen and (max-width: 1024px){margin-top: 50px; border-radius: 66px 98px 0 0;}
              .bg-fot{
                background-color: #F0F1F9;
                border-radius: 108px;
                @media only screen and (max-width: 1024px){border-radius: 20px;}
                .info{
                padding-top: 120px;
                display: grid;
                grid-template-columns: 635px 477px;
                column-gap: 70px;
                padding-bottom: 120px;
                font-family: "Evolventa";
                @media only screen and (max-width: 1024px){ margin-left: 40px; padding-bottom: 50px; grid-template-columns: 1fr;}
                .left-info{
                  h5{
                    color: $black-text;
                    font-size: 16px;
                    font-weight: bold;
                    border-radius: 8px;
                    border: 1px solid #6B24A9;
                    padding: 8px 12px;
                    width: 170px;
                    margin-bottom: 20px;
                    @media only screen and (max-width: 1024px){width: 117px; font-size: 10px;}
                  }
                  h1{
                    font-size: 52px;
                    color: $black-text;
                    font-weight: bold;
                    @media only screen and (max-width: 1024px){ font-size: 25px;}
                  }
                }
                .right-info{
                  font-family: "Evolventa";
                  @media only screen and (max-width: 1024px){ width: 90%;}
                  .moon{
                    display: flex;
                    @media only screen and (max-width: 1024px){margin-top: 15px;}
                    img{
                      @media only screen and (max-width: 1024px){height: 20px;}
                    }
                    h2{
                    margin-left: 18px;
                    font-size: 36px;
                    font-weight: bold;
                    color: $black-text;
                    @media only screen and (max-width: 1024px){ font-size: 20px;}
                    }
                  }
                  p{
                    color: $black-text;
                    font-size: 16px;
                    line-height: 150%;
                    margin-top: 20px;
                    @media only screen and (max-width: 1024px){ font-size: 12px;}
                  }
                  h3{
                    font-size: 28px;
                    color: #C6CFDC;
                    line-height: 85%;
                    font-weight: bold;
                    margin-top: 24px;
                    @media only screen and (max-width: 1024px){ font-size: 25px;}
                  }
                  h4{
                    font-size: 28px;
                    color: #C6CFDC;
                    line-height: 85%;
                    font-weight: bold;
                    margin-top: 20px;
                    @media only screen and (max-width: 1024px){ font-size: 25px;}
                  }
                }
              }
            }
            }
            footer{
              background: linear-gradient(246deg, #030712 15.24%, #232178 83.9%);
              .fot{
                font-family: "Evolventa";
                @media only screen and (max-width: 1024px){width: 90%;}
                .footer-top{
                  display: flex;
                  padding-top: 120px;
                  @media only screen and (max-width: 1024px){flex-wrap: wrap; flex-direction: column; align-items: center;}
                  .left-fot{
                    p{
                      padding: 8px 12px;
                      border-radius: 8px;
                      border: 1px solid #9D7ABB;
                      color: #FFF;
                      font-size: 16px;
                      font-weight: bold;
                      margin-bottom: 20px;
                      width: 165px;
                      @media only screen and (max-width: 1024px){ font-size: 10px; width: 117px;}
                    }
                    h1{
                      color: #FFF;
                      font-size: 52px;
                      font-weight: bold;
                      @media only screen and (max-width: 1024px){ font-size: 35px;}
                    }
                    h2{
                      color: rgba(255, 255, 255, 0.66);
                      font-size: 52px;
                      font-weight: bold;
                      margin-top: 4px;
                      margin-bottom: 96px;
                      @media only screen and (max-width: 1024px){ font-size: 35px; margin-bottom: 50px;}
                    }
                  }
                  .right-fot{
                    display: flex;
                    margin-left: 44px;
                    align-items: center;
                    @media only screen and (max-width: 1024px){align-items: baseline; margin: 0 auto;}
                    button{
                      background-color: #5282FF;
                      padding: 12px 32px;
                      border-radius: 12px;
                      color: #FFF;
                      font-size: 16px;
                    }
                  }
                  }
                  .bottom-fot{
                    display: grid;
                    grid-template-columns: 125px 146px 104px;
                    column-gap: 400px;
                    @media only screen and (max-width: 1024px){grid-template-columns: 1fr; justify-items: center; column-gap: 0;}
                    @media only screen and (max-width: 525px){width: 85%; row-gap: 20px; margin: 0 auto; margin-top: 20px;}
                    .first-item{
                      @media only screen and (max-width: 525px){width: 90%;}
                      a.seting-btn{
                          text-decoration: none;
                          color: #C6CFDC;
                          margin-bottom: 20px;
                          font-size: 24px;
                          @media only screen and (max-width: 525px){font-size: 20px;}
                        }
                      a{
                        font-size: 14px;
                        line-height: 171%;
                        text-decoration: none;
                        color: #FFF;
                        font-style: normal;
                      }
                      img{
                        margin-top: 12px;
                        @media only screen and (max-width: 525px){display: none;}
                        
                      }
                    }
                    .second-item{
                      @media only screen and (max-width: 525px){width: 90%;}
                      a.seting-btn{
                        text-decoration: none;
                          color: #C6CFDC;
                          margin-bottom: 20px;
                          font-size: 24px;
                          @media only screen and (max-width: 525px){font-size: 20px;}
                      }
                      a{
                        font-size: 14px;
                        line-height: 171%;
                        text-decoration: none;
                        color: #FFF;
                        margin-bottom: 8px;
                      }
                    }
                    .third-item{
                      @media only screen and (max-width: 525px){width: 90%;}
                      a.seting-btn{
                        text-decoration: none;
                          color: #C6CFDC;
                          margin-bottom: 20px;
                          font-size: 24px;
                          @media only screen and (max-width: 525px){font-size: 20px;}
                      }
                      a{
                        font-size: 14px;
                        line-height: 171%;
                        text-decoration: none;
                        color: #FFF;
                        margin-bottom: 8px;
                      }
                    }
                  }
                  .image{
                    display: flex;
                    justify-content: center;
                    margin-top: 154px;
                    padding-bottom: 56px;
                    @media only screen and (max-width: 1024px){ margin-top: 50px;}
                  }
                }
            }
            .finaly-container{
              font-family: "Evolventa";
              @media only screen and (max-width: 1024px){display: none;}
              .info{
                display: flex;
                margin-top: 20px;
                margin-bottom: 20px;
                justify-content: space-between;
                align-items: center;
                .first-item{
                  width: 777px;
                  p{
                    font-size: 12px;
                    line-height: 167%;
                    color: $black-text;
                  }
                }
                .second-item{
                  width: 60px;
                  p{
                    font-size: 14px;
                    line-height: 143%;
                    color: $black-text;
                  }
                }
                .third-item{
                  width: 50px;
                  p{
                    font-size: 14px;
                    line-height: 143%;
                    color: $black-text;
                  }
                }
                .fourt-item{
                  width: 74px;
                  p{
                    font-size: 14px;
                    line-height: 143%;
                    color: $black-text;
                  }
              }
              .five-item{
                  p{
                    font-size: 14px;
                    line-height: 143%;
                    color: $black-text;
                  }
              }
            }
          }

          /*about us*/

          .container-about{
            background: linear-gradient(246deg, #030712 15.24%, #232178 83.9%);
            border-radius: 0 0 100px 100px;
            
          }
        .container-about{
            background-image: url(../images/Mask\ group.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: inherit;
    
            .logo{
              img{
                width: 128px;
                height: 71px;
              }
            }
            header{
              height: 92px;
              display: flex;
              justify-content: space-around;
              align-items: center;
              .menu{
                ul{
                  display: flex;
                  li{
                    a{
            font-family: "Evolventa";
            color: #FFF;
            font-size: 16px;
            text-decoration: none;
            font-weight: bold;
            transition: 1s;
            }
            a.active{
              color: #5282FF;
                    }
                    a:hover{
                      color: #5282FF;
                      text-decoration: underline;
                  }
                  }
                }
              }
            }
          }
        
        .container-about header .menu ul li {
            margin-right: 48px;
        }
        
        .container-about header .menu ul li.contact-btn {
            margin-left: 183px;
            margin-right: 0;
        }
        
        .container-about header .menu ul li.contact-btn a {
            color: #FFF;
            padding: 16px 48px;
            border-radius: 41px;
            border: 2px solid rgba(244, 246, 252, 0.20);
            transition: 1s;
        }
        
        .container-about header .menu ul li.contact-btn a:hover {
            background-color: #BBBBCB;
            color: #1C1E53;
            text-decoration: none;
        }
        .container-about{
          .head-content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left-content{
              font-family: "Evolventa";
              img{
                padding-top: 64px;
              }
              span{
                color: #C5C5D7;
                margin-left: 16px;
                font-weight: bold;
                
              }
              h1{
                font-size: 52px;
                color: #FFF;
                font-weight: bold;
                width: 881px;
                margin-top: 12px;
              }
              h2{
                font-size: 52px;
                color: rgba(255, 255, 255, 0.56);
                font-weight: bold;
                margin-bottom: 63px;
              }
            }
          }
          .planet{
            display: flex;
            justify-content: center;
            margin-top: 63px;
            padding-bottom: 25px;
          }
          .info{
            font-family: "Evolventa";
            a{
              padding: 8px 12px;
              border-radius: 8px;
              border: 1px solid #040320;
              font-size: 16px;
              color: #FFF;
              font-weight: bold;
              text-decoration: none;
              transition: 1s;
            }
          a:hover{
          background-color: #040320;
          color: #FFF;
          text-decoration: none;
            }
            h1{
              margin-top: 28px;
              color: #FFF;
              font-size: 52px;
              font-weight: bold;
              width: 837px;
              margin-bottom: 4px;
            }
            h2{
              color: rgba(255, 255, 255, 0.56);;
              font-size: 52px;
              font-weight: bold;
              width: 881px;
              padding-bottom: 138px;
            }
          }
        }
        .text{
          font-family: "Evolventa";
          font-size: 16px;
          line-height: 150%;
          color: $black-text;
          .info{
            display: flex;
              width: 661px;
              flex-direction: column;
              margin-top: 100px;
              margin-left: 257px;
              .first-item{
                margin-bottom: 12px;
              }
              .second-item{
                margin-bottom: 100px;
              }
            }
          }
          .third-about{
            background-color: #030712;
            border-radius: 108px;
          }
          .third-about{
            background-image: url(../images/background-planet.png);
            background-repeat: no-repeat;
            mix-blend-mode: luminosity;
            .content{
              display: flex;
              justify-content: space-between;
              padding-top: 120px;
              font-family: "Evolventa";
              .left-content{
                color: #FFF;
                h1{
                  font-size: 52px;
                  font-weight: bold;
                  margin-bottom: 24px;
                }
                p{
                  font-size: 16px;
                  line-height: 150%;
                  width: 387px;
                }
              }
              .right-content{
                color: #FFF;
                .first-item{
                  border-radius: 20px;
                  background-color: #0A0E22;
                  width: 210px;
                  padding-left: 20px;
                  margin-bottom: 80px;
                  img{
                    margin-top: 20px;
                    border-radius: 20px;
                    background: #151B36;
                    backdrop-filter: blur(15px);
                    padding: 18px 20px 21px 20px;
                  }
                  h4{
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 12px;
                    margin-top: 20px;
                  }
                  p{
                    font-size: 16px;
                    line-height: 150%;
                    padding-bottom: 20px;
                  }
                }
              }
              .right-last{
                width: 210px;
                color: #FFF;
                margin-top: calc(293px - 120px);
                margin-bottom: 160px;
                .right{
                  border-radius: 20px;
                  background-color: #0A0E22;
                  width: 210px;
                  padding-left: 20px;
                  margin-bottom: 80px;
                  img{
                    margin-top: 20px;
                    border-radius: 20px;
                    background: #151B36;
                    backdrop-filter: blur(15px);
                    padding: 18px 20px 21px 20px;
                  }
                  h4{
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 12px;
                    margin-top: 20px;
                  }
                  p{
                    font-size: 16px;
                    line-height: 150%;
                    padding-bottom: 20px;
                  }
                }
              }
            }
          }
          .fourt-about{
            background-image: url(../images/line.png);
            background-repeat: no-repeat;
            background-position-y: 30%;
            .info-text{
              margin-top: 140px;
              display: grid;
              grid-template-columns: 497px 459px;
              justify-content: space-between;
              column-gap: 220px;
              row-gap: 140px;
              .left-text{
                font-family: "Evolventa";
                a{
                  text-decoration: none;
                  border-radius: 8px;
                  border: 1px solid #6B24A9;
                  padding: 8px 12px;
                  font-size: 16px;
                  color: $black-text;
                  font-weight: bold;
                  transition: 1s;
                }
              a:hover{
              background-color: #6B24A9;
              color: #FFF;
              text-decoration: none;
            }
                h1{
                  margin-top: 18px;
                  font-size: 52px;
                  font-weight: bold;
                  color: $black-text;
                  margin-bottom: 12px;
                }
                h2{
                  color: #C6CFDC;
                  font-size: 52px;
                  font-weight: bold;
                }
              }
              .right-text{
                
                .card{
                  background-color: #EFF1F4;
                  border: none;
                  margin-bottom: 40px;
                  padding: 30px 17px 53px 5px;
                  width: 459px;
                  border-radius: 20px;
                }
                img{
                  background-color: #EFF1F4;
                  border-radius: 20px;
                  padding: 32px 40px;
                  width: 459px;
                  margin-bottom: 40px;
                }
                .card-text{
                  display: flex;
                  width: 259px;
                  font-family: "Evolventa";
                  margin-bottom: 40px;
                  p{
                    font-size: 16px;
                    color: $black-text;
                    line-height: 150%;
                  }
                }
              }
            }
          }
          footer{
            .fts-fotter{
              background-image: url(../images/Mask\ group.png);
              background-repeat: no-repeat;
              background-size: cover;
              background-position: inherit;
            .foot{
              background: linear-gradient(246deg, #030712 15.24%, #232178 83.9%);
              .fot{
              font-family: "Evolventa";
              .footer-top{
                display: flex;
                padding-top: 120px;
                .left-fot{
                  p{
                    padding: 8px 12px;
                    border-radius: 8px;
                    border: 1px solid #9D7ABB;
                    color: #FFF;
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 20px;
                    width: 165px;
                  }
                  h1{
                    color: #FFF;
                    font-size: 52px;
                    font-weight: bold;
                  }
                  h2{
                    color: rgba(255, 255, 255, 0.66);
                    font-size: 52px;
                    font-weight: bold;
                    margin-top: 4px;
                    margin-bottom: 96px;
                  }
                }
                .right-fot{
                  display: flex;
                  margin-left: 44px;
                  align-items: center;
                  button{
                    background-color: #5282FF;
                    padding: 12px 32px;
                    border-radius: 12px;
                    color: #FFF;
                    font-size: 16px;
                  }
                }
                }
                .bottom-fot{
                  display: grid;
                  grid-template-columns: 125px 146px 104px;
                  column-gap: 400px;
                  .first-item{
                    a.seting-btn{
                        text-decoration: none;
                        color: #C6CFDC;
                        margin-bottom: 20px;
                        font-size: 24px;
                      }
                    a{
                      font-size: 14px;
                      line-height: 171%;
                      text-decoration: none;
                      color: #FFF;
                      font-style: normal;
                    }
                    img{
                      margin-top: 12px;
                    }
                  }
                  .second-item{
                    a.seting-btn{
                      text-decoration: none;
                        color: #C6CFDC;
                        margin-bottom: 20px;
                        font-size: 24px;
                    }
                    a{
                      font-size: 14px;
                      line-height: 171%;
                      text-decoration: none;
                      color: #FFF;
                      margin-bottom: 8px;
                    }
                  }
                  .third-item{
                    a.seting-btn{
                      text-decoration: none;
                        color: #C6CFDC;
                        margin-bottom: 20px;
                        font-size: 24px;
                    }
                    a{
                      font-size: 14px;
                      line-height: 171%;
                      text-decoration: none;
                      color: #FFF;
                      margin-bottom: 8px;
                    }
                  }
                }
                .image{
                  display: flex;
                  justify-content: center;
                  margin-top: 154px;
                  padding-bottom: 56px;
                }
              }
          }
        }
      }

      .registration{
        font-family: "Evolventa";
        background: linear-gradient(246deg, #030712 15.24%, #232178 83.9%);
        background-size: cover;
        background-repeat: no-repeat;
        .info{
          label.form-label{
            margin-top: 32px;
            margin-bottom: 12px;
            color: #FFF;
            font-size: 14px;
            line-height: 171%;
          }
          .form-floating{
            color: #FFF;
            width: 822px;
            display: flex;
          textarea.form-control{
            background: rgba(255, 255, 255, 0.30);
            
          }
          }
          .info-text{
            display: flex;
            justify-content: space-between;
          h4{
            padding-top: 80px;
            font-size: 52px;
            color: #FFF;
            font-weight: bold;
            margin-bottom: 4px;
          }
          h5{
            color: rgba(255, 255, 255, 0.66);
            font-size: 52px;
            font-weight: bold;
            margin-bottom: 60px;
          }
          .first-close{
            margin-top: 40px;
            button{
              background-color: #fff;
              span{
                margin-left: 32px;
                font-size: 16px;
                color: #fff;
              }
            }
          }
        }
        .flex-form{
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 53px;
          form{
            display: flex;
            flex-wrap: nowrap;
            border-radius: 12px;
            .col-md-4{
              color: #FFF;
              margin-top: 32px;
              font-size: 14px;
              line-height: 171%;
              .form-select{
                background: rgba(255, 255, 255, 0.30);
                color: #FFF;
                width: 385px;
                height: 60px;
              }
              input{
                background: rgba(255, 255, 255, 0.30);
                width: 385px;
                height: 60px;
              }
              input::placeholder{
                color: rgba(255, 255, 255, 0.81);
              }
            }
              }

          }
          .col-12{
            .form-check{
              margin-top: 40px;
              display: flex;
              justify-content: center;
              color: #FFF;
              label{
                margin-left: 12px;
                color: rgba(255, 255, 255, 0.80);
                font-size: 16px;
                line-height: 150%;
                span{
                  color: #FFF;
                  text-decoration: underline;
                }
            }
            }
          }
          .col-12{
            display: flex;
            justify-content: center;
          button{
          margin-top: 40px;
          }
          }
        }
    }

