/*Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Main**/
.wrapper {
  max-width: 1440px;
  width: 100%;
  max-width: 100%;
}

.center {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.container-first {
  background-color: #00011D;
  border-radius: 0 0 100px 100px;
}

.container-first {
  background-image: url(../images/planet-bg.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain;
}
.container-first .logo img {
  width: 128px;
  height: 71px;
}
.container-first header {
  height: 92px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  .container-first header .menu {
    display: none;
  }
}
.container-first header .menu ul {
  display: flex;
}
.container-first header .menu ul li a {
  font-family: "Evolventa";
  color: #FFF;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  transition: 1s;
}
.container-first header .menu ul li a:hover {
  color: #5282FF;
  text-decoration: underline;
}

.container-first header .menu ul li {
  margin-right: 48px;
}

.container-first header .menu ul li.contact-btn {
  margin-left: 183px;
  margin-right: 0;
}

.container-first header .menu ul li.contact-btn a {
  color: #FFF;
  padding: 16px 48px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  transition: 1s;
}

.container-first header .menu ul li.contact-btn a:hover {
  background-color: #BBBBCB;
  color: #1C1E53;
  text-decoration: none;
}

.container-first .head-content {
  padding-top: 100px;
  padding-bottom: 128px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-first .head-content .right-content {
  margin-right: 168px;
}
@media only screen and (max-width: 1024px) {
  .container-first .head-content .right-content {
    display: none;
  }
}

.container-first .head-content .right-content .planet .logo {
  position: absolute;
  left: 60%;
  bottom: 40%;
}

.container-first .head-content .left-content {
  width: 710px;
  padding-left: 132px;
  position: relative;
}
.container-first .head-content .left-content h1 {
  color: #FFF;
  font-family: "Evolventa";
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: normal;
}
@media only screen and (max-width: 1024px) {
  .container-first .head-content .left-content h1 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 525px) {
  .container-first .head-content .left-content h1 {
    width: 90%;
  }
}
.container-first .head-content .left-content span {
  color: rgba(255, 255, 255, 0.6);
}
.container-first .head-content .left-content p {
  color: #FFF;
  font-family: "Evolventa";
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}
@media only screen and (max-width: 525px) {
  .container-first .head-content .left-content p {
    width: 90%;
  }
}
.container-first .head-content .left-content .btn-wrap {
  font-family: "Evolventa";
}
.container-first .head-content .left-content .btn-wrap :hover {
  background-color: #BBBBCB;
  color: #5282FF;
}
.container-first .head-content .left-content .btn-wrap a {
  background: #5282FF;
  transition: 0.8s;
  border-radius: 12px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  line-height: 175%;
  padding: 12px 32px;
}

.second-container {
  margin-top: 132px;
}
@media only screen and (max-width: 1024px) {
  .second-container {
    margin: 0 auto;
  }
}
.second-container .second-content {
  background-image: url(../images/system.png);
  background-repeat: no-repeat;
  background-position-x: right;
}
.second-container .second-content .border-item {
  font-family: "Evolventa";
}
.second-container .second-content .border-item p {
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #6B24A9;
  color: #1D2733;
  width: 275px;
  padding: 8px 12px;
  border-radius: 8px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1024px) {
  .second-container .second-content .border-item p {
    margin-top: 40px;
    margin-left: 40px;
  }
}
.second-container .second-content .content {
  font-family: "Evolventa";
}
@media only screen and (max-width: 1024px) {
  .second-container .second-content .content {
    margin-left: 40px;
    font-size: 25px;
  }
}
.second-container .second-content .content h3 {
  color: #1D2733;
  font-size: 52px;
  font-weight: bold;
  width: 760px;
  margin-bottom: 4px;
}
@media only screen and (max-width: 1024px) {
  .second-container .second-content .content h3 {
    width: auto;
  }
}
@media only screen and (max-width: 525px) {
  .second-container .second-content .content h3 {
    font-size: 35px;
  }
}
.second-container .second-content .content h4 {
  color: #C6CFDC;
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 108px;
}
@media only screen and (max-width: 525px) {
  .second-container .second-content .content {
    font-size: 35px;
  }
}
.second-container .second-content .content-right {
  width: 477px;
}
@media only screen and (max-width: 1024px) {
  .second-container .second-content .content-right {
    margin-left: 40px;
    font-size: 25px;
    width: auto;
  }
}
.second-container .second-content .content-right P {
  color: #1D2733;
  font-family: "Evolventa";
  font-size: 16px;
  margin-bottom: 108px;
}

.third-container {
  display: flex;
  justify-content: space-between;
}
.third-container .left-content {
  display: grid;
  grid-template-columns: 282px 229px;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 165px;
  border: 1px solid #EFF1F4;
  background-color: #EFF1F4;
  width: 607px;
  border-radius: 20px;
}
@media only screen and (max-width: 1024px) {
  .third-container .left-content {
    -moz-column-gap: 32px;
         column-gap: 32px;
    row-gap: 17px;
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 525px) {
  .third-container .left-content {
    justify-items: center;
  }
}
.third-container .left-content .first-item {
  grid-row: 1/span 2;
}
@media only screen and (max-width: 1024px) {
  .third-container .left-content .first-item {
    grid-row: auto;
    justify-items: center;
  }
}
.third-container .left-content p {
  color: #1D2733;
  font-family: "Evolventa";
  font-size: 16px;
  line-height: 150%;
  margin-top: 24px;
}
@media only screen and (max-width: 1024px) {
  .third-container .left-content p {
    margin-left: 20px;
  }
}
.third-container .left-content .third-item {
  margin-bottom: 24px;
}
.third-container .left-content .third-item a {
  text-decoration: none;
  padding: 12px 32px;
  border-radius: 12px;
  border: 1.5px solid #5282FF;
  margin-bottom: 24px;
  color: #5282FF;
  font-family: "Evolventa";
  font-size: 16px;
  font-weight: bold;
  line-height: 175%;
  transition: 1s;
}
@media only screen and (max-width: 1024px) {
  .third-container .left-content .third-item a {
    font-size: 20px;
  }
}
.third-container .left-content .third-item a:hover {
  background-color: #BBBBCB;
  color: #1C1E53;
  text-decoration: none;
}
.third-container .right-content {
  font-family: "Evolventa";
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media only screen and (max-width: 1024px) {
  .third-container .right-content {
    display: none;
  }
}
.third-container .right-content a {
  padding: 8px 12px;
  border: 1px solid #6B24A9;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #1D2733;
  width: 146px;
}
.third-container .right-content .mon {
  display: flex;
}
.third-container .right-content .mon img {
  margin-right: 12px;
}
.third-container .right-content .mon h5 {
  font-size: 28px;
  line-height: 85%;
  color: #1D2733;
  font-weight: bold;
}
.third-container .right-content P {
  font-size: 28px;
  color: #C6CFDC;
  font-weight: bold;
  font-size: 28px;
  line-height: 85%;
}

.fourt-container {
  margin-top: 120px;
  font-family: "Evolventa";
}
@media only screen and (max-width: 1024px) {
  .fourt-container {
    margin-top: 50px;
    margin-left: 40px;
  }
}
.fourt-container h6 {
  border: 1px solid #6B24A9;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 135px;
  padding: 8px 12px;
  color: #1D2733;
  font-size: 16px;
  font-weight: bold;
}
.fourt-container h1 {
  color: #1D2733;
  font-size: 52px;
  font-weight: bold;
  margin-top: 4px;
}
@media only screen and (max-width: 1024px) {
  .fourt-container h1 {
    font-size: 25px;
  }
}
.fourt-container h2 {
  color: #C6CFDC;
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 120px;
}
@media only screen and (max-width: 1024px) {
  .fourt-container h2 {
    font-size: 25px;
    margin-bottom: 50px;
  }
}
.fourt-container .content {
  display: grid;
  grid-template-columns: 524px 524px;
  -moz-column-gap: 128px;
       column-gap: 128px;
  font-family: "Evolventa";
}
@media only screen and (max-width: 1024px) {
  .fourt-container .content {
    grid-template-columns: 1fr;
    row-gap: 40px;
    width: 90%;
  }
}
@media only screen and (max-width: 525px) {
  .fourt-container .content {
    width: 85%;
  }
}
.fourt-container .content .left-content {
  background: linear-gradient(to top left, #1840A0, #A368FF, #739AFF, #96D9FF);
  border-radius: 20px;
  padding: 48px 204px 48px 60px;
}
@media only screen and (max-width: 525px) {
  .fourt-container .content .left-content {
    padding: 25px 60px 40px 40px;
  }
}
.fourt-container .content .left-content h5 {
  font-size: 52px;
  color: #FFF;
  font-weight: bold;
}
@media only screen and (max-width: 525px) {
  .fourt-container .content .left-content h5 {
    font-size: 30px;
  }
}
.fourt-container .content .left-content p {
  margin-top: 4px;
  color: #FFF;
  font-size: 16px;
}
.fourt-container .content .right-content {
  background: linear-gradient(to top left, #1840A0, #A368FF, #739AFF, #96D9FF);
  border-radius: 20px;
  padding: 48px 204px 48px 60px;
}
@media only screen and (max-width: 525px) {
  .fourt-container .content .right-content {
    padding: 25px 60px 40px 40px;
  }
}
.fourt-container .content .right-content h5 {
  font-size: 52px;
  color: #FFF;
  font-weight: bold;
}
@media only screen and (max-width: 525px) {
  .fourt-container .content .right-content h5 {
    font-size: 30px;
  }
}
.fourt-container .content .right-content p {
  margin-top: 4px;
  color: #FFF;
  font-size: 16px;
}

.five-container {
  margin-top: 120px;
  border-radius: 118px 118px 0 0;
  background: linear-gradient(246deg, #030712 15.24%, #232178 83.9%);
}
@media only screen and (max-width: 1024px) {
  .five-container {
    margin-top: 50px;
    border-radius: 66px 98px 0 0;
  }
}
.five-container .bg-fot {
  background-color: #F0F1F9;
  border-radius: 108px;
}
@media only screen and (max-width: 1024px) {
  .five-container .bg-fot {
    border-radius: 20px;
  }
}
.five-container .bg-fot .info {
  padding-top: 120px;
  display: grid;
  grid-template-columns: 635px 477px;
  -moz-column-gap: 70px;
       column-gap: 70px;
  padding-bottom: 120px;
  font-family: "Evolventa";
}
@media only screen and (max-width: 1024px) {
  .five-container .bg-fot .info {
    margin-left: 40px;
    padding-bottom: 50px;
    grid-template-columns: 1fr;
  }
}
.five-container .bg-fot .info .left-info h5 {
  color: #1D2733;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid #6B24A9;
  padding: 8px 12px;
  width: 170px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1024px) {
  .five-container .bg-fot .info .left-info h5 {
    width: 117px;
    font-size: 10px;
  }
}
.five-container .bg-fot .info .left-info h1 {
  font-size: 52px;
  color: #1D2733;
  font-weight: bold;
}
@media only screen and (max-width: 1024px) {
  .five-container .bg-fot .info .left-info h1 {
    font-size: 25px;
  }
}
.five-container .bg-fot .info .right-info {
  font-family: "Evolventa";
}
@media only screen and (max-width: 1024px) {
  .five-container .bg-fot .info .right-info {
    width: 90%;
  }
}
.five-container .bg-fot .info .right-info .moon {
  display: flex;
}
@media only screen and (max-width: 1024px) {
  .five-container .bg-fot .info .right-info .moon {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 1024px) {
  .five-container .bg-fot .info .right-info .moon img {
    height: 20px;
  }
}
.five-container .bg-fot .info .right-info .moon h2 {
  margin-left: 18px;
  font-size: 36px;
  font-weight: bold;
  color: #1D2733;
}
@media only screen and (max-width: 1024px) {
  .five-container .bg-fot .info .right-info .moon h2 {
    font-size: 20px;
  }
}
.five-container .bg-fot .info .right-info p {
  color: #1D2733;
  font-size: 16px;
  line-height: 150%;
  margin-top: 20px;
}
@media only screen and (max-width: 1024px) {
  .five-container .bg-fot .info .right-info p {
    font-size: 12px;
  }
}
.five-container .bg-fot .info .right-info h3 {
  font-size: 28px;
  color: #C6CFDC;
  line-height: 85%;
  font-weight: bold;
  margin-top: 24px;
}
@media only screen and (max-width: 1024px) {
  .five-container .bg-fot .info .right-info h3 {
    font-size: 25px;
  }
}
.five-container .bg-fot .info .right-info h4 {
  font-size: 28px;
  color: #C6CFDC;
  line-height: 85%;
  font-weight: bold;
  margin-top: 20px;
}
@media only screen and (max-width: 1024px) {
  .five-container .bg-fot .info .right-info h4 {
    font-size: 25px;
  }
}

footer {
  background: linear-gradient(246deg, #030712 15.24%, #232178 83.9%);
}
footer .fot {
  font-family: "Evolventa";
}
@media only screen and (max-width: 1024px) {
  footer .fot {
    width: 90%;
  }
}
footer .fot .footer-top {
  display: flex;
  padding-top: 120px;
}
@media only screen and (max-width: 1024px) {
  footer .fot .footer-top {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
}
footer .fot .footer-top .left-fot p {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #9D7ABB;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  width: 165px;
}
@media only screen and (max-width: 1024px) {
  footer .fot .footer-top .left-fot p {
    font-size: 10px;
    width: 117px;
  }
}
footer .fot .footer-top .left-fot h1 {
  color: #FFF;
  font-size: 52px;
  font-weight: bold;
}
@media only screen and (max-width: 1024px) {
  footer .fot .footer-top .left-fot h1 {
    font-size: 35px;
  }
}
footer .fot .footer-top .left-fot h2 {
  color: rgba(255, 255, 255, 0.66);
  font-size: 52px;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 96px;
}
@media only screen and (max-width: 1024px) {
  footer .fot .footer-top .left-fot h2 {
    font-size: 35px;
    margin-bottom: 50px;
  }
}
footer .fot .footer-top .right-fot {
  display: flex;
  margin-left: 44px;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  footer .fot .footer-top .right-fot {
    align-items: baseline;
    margin: 0 auto;
  }
}
footer .fot .footer-top .right-fot button {
  background-color: #5282FF;
  padding: 12px 32px;
  border-radius: 12px;
  color: #FFF;
  font-size: 16px;
}
footer .fot .bottom-fot {
  display: grid;
  grid-template-columns: 125px 146px 104px;
  -moz-column-gap: 400px;
       column-gap: 400px;
}
@media only screen and (max-width: 1024px) {
  footer .fot .bottom-fot {
    grid-template-columns: 1fr;
    justify-items: center;
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
@media only screen and (max-width: 525px) {
  footer .fot .bottom-fot {
    width: 85%;
    row-gap: 20px;
    margin: 0 auto;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 525px) {
  footer .fot .bottom-fot .first-item {
    width: 90%;
  }
}
footer .fot .bottom-fot .first-item a.seting-btn {
  text-decoration: none;
  color: #C6CFDC;
  margin-bottom: 20px;
  font-size: 24px;
}
@media only screen and (max-width: 525px) {
  footer .fot .bottom-fot .first-item a.seting-btn {
    font-size: 20px;
  }
}
footer .fot .bottom-fot .first-item a {
  font-size: 14px;
  line-height: 171%;
  text-decoration: none;
  color: #FFF;
  font-style: normal;
}
footer .fot .bottom-fot .first-item img {
  margin-top: 12px;
}
@media only screen and (max-width: 525px) {
  footer .fot .bottom-fot .first-item img {
    display: none;
  }
}
@media only screen and (max-width: 525px) {
  footer .fot .bottom-fot .second-item {
    width: 90%;
  }
}
footer .fot .bottom-fot .second-item a.seting-btn {
  text-decoration: none;
  color: #C6CFDC;
  margin-bottom: 20px;
  font-size: 24px;
}
@media only screen and (max-width: 525px) {
  footer .fot .bottom-fot .second-item a.seting-btn {
    font-size: 20px;
  }
}
footer .fot .bottom-fot .second-item a {
  font-size: 14px;
  line-height: 171%;
  text-decoration: none;
  color: #FFF;
  margin-bottom: 8px;
}
@media only screen and (max-width: 525px) {
  footer .fot .bottom-fot .third-item {
    width: 90%;
  }
}
footer .fot .bottom-fot .third-item a.seting-btn {
  text-decoration: none;
  color: #C6CFDC;
  margin-bottom: 20px;
  font-size: 24px;
}
@media only screen and (max-width: 525px) {
  footer .fot .bottom-fot .third-item a.seting-btn {
    font-size: 20px;
  }
}
footer .fot .bottom-fot .third-item a {
  font-size: 14px;
  line-height: 171%;
  text-decoration: none;
  color: #FFF;
  margin-bottom: 8px;
}
footer .fot .image {
  display: flex;
  justify-content: center;
  margin-top: 154px;
  padding-bottom: 56px;
}
@media only screen and (max-width: 1024px) {
  footer .fot .image {
    margin-top: 50px;
  }
}

.finaly-container {
  font-family: "Evolventa";
}
@media only screen and (max-width: 1024px) {
  .finaly-container {
    display: none;
  }
}
.finaly-container .info {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}
.finaly-container .info .first-item {
  width: 777px;
}
.finaly-container .info .first-item p {
  font-size: 12px;
  line-height: 167%;
  color: #1D2733;
}
.finaly-container .info .second-item {
  width: 60px;
}
.finaly-container .info .second-item p {
  font-size: 14px;
  line-height: 143%;
  color: #1D2733;
}
.finaly-container .info .third-item {
  width: 50px;
}
.finaly-container .info .third-item p {
  font-size: 14px;
  line-height: 143%;
  color: #1D2733;
}
.finaly-container .info .fourt-item {
  width: 74px;
}
.finaly-container .info .fourt-item p {
  font-size: 14px;
  line-height: 143%;
  color: #1D2733;
}
.finaly-container .info .five-item p {
  font-size: 14px;
  line-height: 143%;
  color: #1D2733;
}

/*about us*/
.container-about {
  background: linear-gradient(246deg, #030712 15.24%, #232178 83.9%);
  border-radius: 0 0 100px 100px;
}

.container-about {
  background-image: url(../images/Mask\ group.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: inherit;
}
.container-about .logo img {
  width: 128px;
  height: 71px;
}
.container-about header {
  height: 92px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-about header .menu ul {
  display: flex;
}
.container-about header .menu ul li a {
  font-family: "Evolventa";
  color: #FFF;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  transition: 1s;
}
.container-about header .menu ul li a.active {
  color: #5282FF;
}
.container-about header .menu ul li a:hover {
  color: #5282FF;
  text-decoration: underline;
}

.container-about header .menu ul li {
  margin-right: 48px;
}

.container-about header .menu ul li.contact-btn {
  margin-left: 183px;
  margin-right: 0;
}

.container-about header .menu ul li.contact-btn a {
  color: #FFF;
  padding: 16px 48px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  transition: 1s;
}

.container-about header .menu ul li.contact-btn a:hover {
  background-color: #BBBBCB;
  color: #1C1E53;
  text-decoration: none;
}

.container-about .head-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-about .head-content .left-content {
  font-family: "Evolventa";
}
.container-about .head-content .left-content img {
  padding-top: 64px;
}
.container-about .head-content .left-content span {
  color: #C5C5D7;
  margin-left: 16px;
  font-weight: bold;
}
.container-about .head-content .left-content h1 {
  font-size: 52px;
  color: #FFF;
  font-weight: bold;
  width: 881px;
  margin-top: 12px;
}
.container-about .head-content .left-content h2 {
  font-size: 52px;
  color: rgba(255, 255, 255, 0.56);
  font-weight: bold;
  margin-bottom: 63px;
}
.container-about .planet {
  display: flex;
  justify-content: center;
  margin-top: 63px;
  padding-bottom: 25px;
}
.container-about .info {
  font-family: "Evolventa";
}
.container-about .info a {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #040320;
  font-size: 16px;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  transition: 1s;
}
.container-about .info a:hover {
  background-color: #040320;
  color: #FFF;
  text-decoration: none;
}
.container-about .info h1 {
  margin-top: 28px;
  color: #FFF;
  font-size: 52px;
  font-weight: bold;
  width: 837px;
  margin-bottom: 4px;
}
.container-about .info h2 {
  color: rgba(255, 255, 255, 0.56);
  font-size: 52px;
  font-weight: bold;
  width: 881px;
  padding-bottom: 138px;
}

.text {
  font-family: "Evolventa";
  font-size: 16px;
  line-height: 150%;
  color: #1D2733;
}
.text .info {
  display: flex;
  width: 661px;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 257px;
}
.text .info .first-item {
  margin-bottom: 12px;
}
.text .info .second-item {
  margin-bottom: 100px;
}

.third-about {
  background-color: #030712;
  border-radius: 108px;
}

.third-about {
  background-image: url(../images/background-planet.png);
  background-repeat: no-repeat;
  mix-blend-mode: luminosity;
}
.third-about .content {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  font-family: "Evolventa";
}
.third-about .content .left-content {
  color: #FFF;
}
.third-about .content .left-content h1 {
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 24px;
}
.third-about .content .left-content p {
  font-size: 16px;
  line-height: 150%;
  width: 387px;
}
.third-about .content .right-content {
  color: #FFF;
}
.third-about .content .right-content .first-item {
  border-radius: 20px;
  background-color: #0A0E22;
  width: 210px;
  padding-left: 20px;
  margin-bottom: 80px;
}
.third-about .content .right-content .first-item img {
  margin-top: 20px;
  border-radius: 20px;
  background: #151B36;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  padding: 18px 20px 21px 20px;
}
.third-about .content .right-content .first-item h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 20px;
}
.third-about .content .right-content .first-item p {
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 20px;
}
.third-about .content .right-last {
  width: 210px;
  color: #FFF;
  margin-top: 173px;
  margin-bottom: 160px;
}
.third-about .content .right-last .right {
  border-radius: 20px;
  background-color: #0A0E22;
  width: 210px;
  padding-left: 20px;
  margin-bottom: 80px;
}
.third-about .content .right-last .right img {
  margin-top: 20px;
  border-radius: 20px;
  background: #151B36;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  padding: 18px 20px 21px 20px;
}
.third-about .content .right-last .right h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 20px;
}
.third-about .content .right-last .right p {
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 20px;
}

.fourt-about {
  background-image: url(../images/line.png);
  background-repeat: no-repeat;
  background-position-y: 30%;
}
.fourt-about .info-text {
  margin-top: 140px;
  display: grid;
  grid-template-columns: 497px 459px;
  justify-content: space-between;
  -moz-column-gap: 220px;
       column-gap: 220px;
  row-gap: 140px;
}
.fourt-about .info-text .left-text {
  font-family: "Evolventa";
}
.fourt-about .info-text .left-text a {
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid #6B24A9;
  padding: 8px 12px;
  font-size: 16px;
  color: #1D2733;
  font-weight: bold;
  transition: 1s;
}
.fourt-about .info-text .left-text a:hover {
  background-color: #6B24A9;
  color: #FFF;
  text-decoration: none;
}
.fourt-about .info-text .left-text h1 {
  margin-top: 18px;
  font-size: 52px;
  font-weight: bold;
  color: #1D2733;
  margin-bottom: 12px;
}
.fourt-about .info-text .left-text h2 {
  color: #C6CFDC;
  font-size: 52px;
  font-weight: bold;
}
.fourt-about .info-text .right-text .card {
  background-color: #EFF1F4;
  border: none;
  margin-bottom: 40px;
  padding: 30px 17px 53px 5px;
  width: 459px;
  border-radius: 20px;
}
.fourt-about .info-text .right-text img {
  background-color: #EFF1F4;
  border-radius: 20px;
  padding: 32px 40px;
  width: 459px;
  margin-bottom: 40px;
}
.fourt-about .info-text .right-text .card-text {
  display: flex;
  width: 259px;
  font-family: "Evolventa";
  margin-bottom: 40px;
}
.fourt-about .info-text .right-text .card-text p {
  font-size: 16px;
  color: #1D2733;
  line-height: 150%;
}

footer .fts-fotter {
  background-image: url(../images/Mask\ group.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: inherit;
}
footer .fts-fotter .foot {
  background: linear-gradient(246deg, #030712 15.24%, #232178 83.9%);
}
footer .fts-fotter .foot .fot {
  font-family: "Evolventa";
}
footer .fts-fotter .foot .fot .footer-top {
  display: flex;
  padding-top: 120px;
}
footer .fts-fotter .foot .fot .footer-top .left-fot p {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #9D7ABB;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  width: 165px;
}
footer .fts-fotter .foot .fot .footer-top .left-fot h1 {
  color: #FFF;
  font-size: 52px;
  font-weight: bold;
}
footer .fts-fotter .foot .fot .footer-top .left-fot h2 {
  color: rgba(255, 255, 255, 0.66);
  font-size: 52px;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 96px;
}
footer .fts-fotter .foot .fot .footer-top .right-fot {
  display: flex;
  margin-left: 44px;
  align-items: center;
}
footer .fts-fotter .foot .fot .footer-top .right-fot button {
  background-color: #5282FF;
  padding: 12px 32px;
  border-radius: 12px;
  color: #FFF;
  font-size: 16px;
}
footer .fts-fotter .foot .fot .bottom-fot {
  display: grid;
  grid-template-columns: 125px 146px 104px;
  -moz-column-gap: 400px;
       column-gap: 400px;
}
footer .fts-fotter .foot .fot .bottom-fot .first-item a.seting-btn {
  text-decoration: none;
  color: #C6CFDC;
  margin-bottom: 20px;
  font-size: 24px;
}
footer .fts-fotter .foot .fot .bottom-fot .first-item a {
  font-size: 14px;
  line-height: 171%;
  text-decoration: none;
  color: #FFF;
  font-style: normal;
}
footer .fts-fotter .foot .fot .bottom-fot .first-item img {
  margin-top: 12px;
}
footer .fts-fotter .foot .fot .bottom-fot .second-item a.seting-btn {
  text-decoration: none;
  color: #C6CFDC;
  margin-bottom: 20px;
  font-size: 24px;
}
footer .fts-fotter .foot .fot .bottom-fot .second-item a {
  font-size: 14px;
  line-height: 171%;
  text-decoration: none;
  color: #FFF;
  margin-bottom: 8px;
}
footer .fts-fotter .foot .fot .bottom-fot .third-item a.seting-btn {
  text-decoration: none;
  color: #C6CFDC;
  margin-bottom: 20px;
  font-size: 24px;
}
footer .fts-fotter .foot .fot .bottom-fot .third-item a {
  font-size: 14px;
  line-height: 171%;
  text-decoration: none;
  color: #FFF;
  margin-bottom: 8px;
}
footer .fts-fotter .foot .fot .image {
  display: flex;
  justify-content: center;
  margin-top: 154px;
  padding-bottom: 56px;
}

.registration {
  font-family: "Evolventa";
  background: linear-gradient(246deg, #030712 15.24%, #232178 83.9%);
  background-size: cover;
  background-repeat: no-repeat;
}
.registration .info label.form-label {
  margin-top: 32px;
  margin-bottom: 12px;
  color: #FFF;
  font-size: 14px;
  line-height: 171%;
}
.registration .info .form-floating {
  color: #FFF;
  width: 822px;
  display: flex;
}
.registration .info .form-floating textarea.form-control {
  background: rgba(255, 255, 255, 0.3);
}
.registration .info .info-text {
  display: flex;
  justify-content: space-between;
}
.registration .info .info-text h4 {
  padding-top: 80px;
  font-size: 52px;
  color: #FFF;
  font-weight: bold;
  margin-bottom: 4px;
}
.registration .info .info-text h5 {
  color: rgba(255, 255, 255, 0.66);
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 60px;
}
.registration .info .info-text .first-close {
  margin-top: 40px;
}
.registration .info .info-text .first-close button {
  background-color: #fff;
}
.registration .info .info-text .first-close button span {
  margin-left: 32px;
  font-size: 16px;
  color: #fff;
}
.registration .info .flex-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 53px;
       column-gap: 53px;
}
.registration .info .flex-form form {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 12px;
}
.registration .info .flex-form form .col-md-4 {
  color: #FFF;
  margin-top: 32px;
  font-size: 14px;
  line-height: 171%;
}
.registration .info .flex-form form .col-md-4 .form-select {
  background: rgba(255, 255, 255, 0.3);
  color: #FFF;
  width: 385px;
  height: 60px;
}
.registration .info .flex-form form .col-md-4 input {
  background: rgba(255, 255, 255, 0.3);
  width: 385px;
  height: 60px;
}
.registration .info .flex-form form .col-md-4 input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.81);
}
.registration .info .flex-form form .col-md-4 input::placeholder {
  color: rgba(255, 255, 255, 0.81);
}
.registration .info .col-12 .form-check {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  color: #FFF;
}
.registration .info .col-12 .form-check label {
  margin-left: 12px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 150%;
}
.registration .info .col-12 .form-check label span {
  color: #FFF;
  text-decoration: underline;
}
.registration .info .col-12 {
  display: flex;
  justify-content: center;
}
.registration .info .col-12 button {
  margin-top: 40px;
}/*# sourceMappingURL=main.css.map */